*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3A3A3A;
  font-family: sans-serif;
  font-size: 14px;
  line-height:16px;
}

.container {
  background-color: ##DEDEDE;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: static;
  width: 420px;
}

.arrow, .arrow-left {
  font-size: .75em;
}
.arrow {
  display:inline-block;
  position:absolute;
  right:10px;
  bottom:30px;
}

.restaurant-list {
  background-color: #DEDEDE;
  padding:0;
  width: 100%;
}

h1 {
  font-size: 1.25em;
  padding: 5px 0 0 0;
  font-weight:bold;
  display:inline-block;
  margin-bottom:5px;
}

h3 {
  font-size: 1em;
  font-weight: lighter;
  padding: 0 0 0 0;
  display:inline-block;
}

.content{
  position:relative;
  padding:20px;
}

.location{
  border-bottom: 1px solid #878787;
}

.location:hover { background-color: #ffffff; } /* mouse over */}
